{%load static%}
{% load i18n %}
<section class="section spdt mb-5">
    <div class="container">
        <div class="heading align-center">
            <div class="heading-sub">{%trans 'yazılarımız'%}</div>
            <h2 class="heading-title w500 size-l">{%trans "Sosyal Medya ve E-Ticaret Dünyasında IPv6 Proxy'nin Gücü!"%}</h2>
        </div>
        <div class="block-banner background-shade-2 br30">
            <div class="row flex-align-c">
                <div class="col-lg-6">
                    <div class="lg-pdl30 lg-pdr30 lg-pdt30 pdl100 pdr60">
                        <div class="heading mb32">
                            <div class="heading-sub">GROWTH METHODS</div>
                            <h2 class="heading-title w500">NFT Marketplace</h2>
                            <div class="heading-desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
                        </div>
                        <div class="button-wrap">
                            <a href="contact-01.html" class="button text" title="Learn More">Learn More <i class="las la-long-arrow-alt-right color-navy"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="align-center">
                        <img class="wow animate__zoomIn" src="{%static 'front/assets/images/hw3-05.png'%}" alt="Image">
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>