{% load i18n %}
{%load static%}
<section class="section spdt">
    <div class="heading align-center">
        <h2 class="heading-title w500 size-l">{%trans 'Uyumlu Platformlar'%}</h2>
               </div>
    
    <div class="block-infinite layout-02 mt20">
        <div class="infinite layout-02" data-speed="100">
            <div class="item">
                <div class="thumb">
                    <img src="{%static 'front/uyumlu/ads.png'%}" alt="Binance">
                </div>
                <span>Google ADS</span>
            </div>
            <div class="item">
                <div class="thumb">
                    <img src="{%static 'front/uyumlu/amazon.png'%}" alt="Optimism">
                </div>
                <span>Amazon</span>
            </div>
            <div class="item">
                <div class="thumb">
                    <img src="{%static 'front/uyumlu/ebay.png'%}" alt="Harmony">
                </div>
                <span>Ebay</span>
            </div>
            <div class="item">
                <div class="thumb">
                    <img src="{%static 'front/uyumlu/facebook.png'%}" alt="Polygon">
                </div>
                <span>Facebook</span>
            </div>
            <div class="item">
                <div class="thumb">
                    <img src="{%static 'front/uyumlu/google.png'%}" alt="Near">
                </div>
                <span>Google</span>
            </div>
            <div class="item">
                <div class="thumb">
                    <img src="{%static 'front/uyumlu/instagram.jpg'%}" alt="Fantom">
                </div>
                <span>Instagram</span>
            </div>
            <div class="item">
                <div class="thumb">
                    <img src="{%static 'front/uyumlu/netflix.png'%}" alt="Solana">
                </div>
                <span>Netflix</span>
            </div>
            <div class="item">
                <div class="thumb">
                    <img src="{%static 'front/uyumlu/tiktok.png'%}" alt="Ethereum">
                </div>
                <span>TikTok</span>
            </div>
            <div class="item">
                <div class="thumb">
                    <img src="{%static 'front/uyumlu/youtube.png'%}" alt="Ethereum">
                </div>
                <span>Youtube</span>
            </div>
        </div>
    </div>
</section>