{%load static%}
{% load i18n %}
<section class="section background-navy pt40 pb40">
    <div class="container">
        <div class="row flex-align-c">
            <div class="col-lg-6">
                <div class="heading heading-alway-white mb32">
                    <h2 class="heading-title w500 size-xl">{%trans "IPv6 Proxy'ler ve Modern İnternet"%}</h2>
                    <div class="heading-desc">{%trans "Dijital Dünyada Bir Adım Önde Olun!"%}</div>
                </div>
                <div class="button-wrap">
                    <a href="contact-01.html" class="button borderline-white" title="Contact Us"> {%trans 'Kullanmaya Başla'%} <i class="las la-long-arrow-alt-right"></i></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="lg-mgt32">
                    <img src="{%static 'front/assets/images/hw3-08.png'%}" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>