{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%trans 'hikaye'%}</title>
</head>
<body>
        <table class="table table-borderless">
            <thead>
           <tr>
              <th scope="col">aa{%trans 'Amount'%}</th>
              <th scope="col">aa{%trans 'Payment Method'%}</th>
              <th scope="col">aa{%trans 'Date'%}</th>
           </tr>
        </thead>
        <tbody>
       
           <tr>
              <td>aa</td>
              <td>aa</td>
              <td>aa</td>
           </tr>
        
        </tbody>
        </table>
</body>
</html>