<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Service</title>
    <!-- Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            background-color: #fff;
            padding: 20px;
            margin-top: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Terms of Service</h1>
        <p class="text-muted">Last Updated: 13.12.2023</p>

        <h2>1. Acceptance of Terms</h2>
        <p>By using our website, you agree to comply with and be bound by these Terms of Service. If you do not agree to these terms, please do not use our website.</p>

        <h2>2. Use of the Website</h2>
        <p>You agree to use the website for lawful purposes only and in a manner that does not infringe upon the rights of others or restrict or inhibit their use and enjoyment of the website.</p>

        <h2>3. Privacy Policy</h2>
        <p>Your use of the website is also governed by our Privacy Policy, which can be found https://v4proxy.net/privacy-police.</p>

        <h2>4. Intellectual Property</h2>
        <p>The content of the website, including but not limited to text, graphics, logos, images, and software, is protected by copyright and other intellectual property laws. You may not reproduce, modify, distribute, or publicly display any of the content without our prior written consent.</p>

        <h2>5. Termination</h2>
        <p>We reserve the right to terminate or suspend your access to the website at our discretion, without notice, for any conduct that we believe violates these Terms of Service or is harmful to other users of the website or third parties.</p>

        <h2>6. Changes to Terms</h2>
        <p>We may revise these Terms of Service at any time without notice. By continuing to use the website after any changes are made, you agree to be bound by the revised terms.</p>

        <h2>7. Contact Us</h2>
        <p>If you have any questions or feedback about these Terms of Service, please contact us at support@v4proxy.net.</p>

        <p class="text-muted">Last Updated: 13.12.2023</p>
    </div>

    <!-- Bootstrap JS and jQuery scripts (place them at the end of the body for faster loading) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
